<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name ="Database_CA" connectionString="Data Source=192.168.68.3;Initial Catalog=CA;User ID=sa;Password=sa123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>