<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="log_path" connectionString="C:\inetpub\wwwroot\CAService\logCASerive.log" providerName="WindowsFolder"/>
    <add name="cryptoki" connectionString="cryptoki.dll" providerName="SafeNet"/>
    <add name="database" connectionString="Data Source=192.168.68.3;Initial Catalog=CA;User ID=sa;Password=sa123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--IIS6: Giới hạn dung lượng 20MB-->
    <httpRuntime executionTimeout="100000" maxRequestLength="20480"/>
    <!--IIS6-->
    <!--<compilation debug="true" targetFramework="4.0" />-->
    <compilation 
      strict="true" explicit="true" batch="true" 
      optimizeCompilations="true" batchTimeout="900" 
      maxBatchSize="1000" maxBatchGeneratedFileSize="1000" 
      numRecompilesBeforeAppRestart="15" defaultLanguage="c#" 
      targetFramework="4.0" assemblyPostProcessorType="" 
      debug="true"></compilation>
    <customErrors mode="Off"/>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1"/>
      </conformanceWarnings>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>