<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name ="Database_CA" connectionString="Data Source=192.168.0.48;Initial Catalog=CA;User ID=cadev;Password=cadev123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>