<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A0ServiceDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <A0ServiceDemo.Properties.Settings>
            <setting name="A0ServiceDemo_A0SignatureService_CAService" serializeAs="String">
                <value>http://10.8.32.100:8081/CAService.asmx</value>
            </setting>
        </A0ServiceDemo.Properties.Settings>
    </applicationSettings>
</configuration>